main .firstSection {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}
main .firstSection .right-side {
  width: 60%;
}
main .firstSection .right-side p {
  font-size: clamp(90px, 2vw, 140px);
  color: #087820;
  font-weight: bold;
}
main .firstSection .left-side {
  width: 40%;
}
main .firstSection .left-side p {
  color: #6e6d6d;
  font-size: clamp(15px, 2vw, 20px);
  text-align: justify;
}
main .firstSection .left-side p span {
  color: #087820;
}
main .firstSection .left-side .buttons {
  display: flex;
  width: 100%;
  justify-content: flex-start;
  gap: 5%;
}
main .firstSection .left-side .buttons a:first-of-type {
  background-image: linear-gradient(to left, #058022, #044d15);
  color: white;
  border-radius: 25px;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  width: 25%;
}
main .firstSection .left-side .buttons a:last-of-type {
  background-image: linear-gradient(to left, #058022, #044d15);
  color: white;
  border-radius: 25px;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  background-image: none;
  background-color: #242424;
  color: #9f9f9f;
  width: 25%;
}
main .secondSection {
  display: flex;
  justify-content: center;
}
main .secondSection .allBoxes {
  display: flex;
  flex-wrap: wrap;
  gap: 3%;
  color: white;
  width: 90%;
}
main .secondSection .allBoxes p:first-of-type {
  font-size: clamp(15px, 2vw, 30px);
  border-bottom: 1px solid rgb(35, 35, 35);
  text-align: center;
}
main .secondSection .allBoxes p:nth-child(2) {
  color: #A8A6A6;
}
main .secondSection .allBoxes .bigger {
  width: 62%;
  background-color: #111111;
  padding: 5px 20px;
  border-radius: 15px;
  margin-bottom: 20px;
}
main .secondSection .allBoxes .smaller {
  width: 27%;
  background-color: #111111;
  padding: 5px 20px;
  border-radius: 15px;
  margin-bottom: 20px;
}
main .thirdSection {
  margin-top: 10%;
}
main .thirdSection p {
  color: #A8A6A6;
  text-align: center;
  font-size: clamp(20px, 3vw, 40px);
}
main .thirdSection p span {
  color: #058022;
}
main .fourthSection .all {
  width: 100%;
}
main .fourthSection .all .cards {
  color: #A8A6A6;
  display: flex;
  flex-wrap: wrap;
}
main .fourthSection .all .cards .card {
  width: 40%;
}
main div #clock {
  margin: 20px auto;
  padding: 0;
  background: #333;
  width: 100%;
  height: 100px;
  text-align: center;
  line-height: 40px;
  color: #fff;
  font-size: 34px;
  font-family: calibri;
}

.slider .site-footer-marquee {
  --item-count: 8;
  --item-speed: 4s;
  --grid-gap: 24px;
  position: relative;
  z-index: 2;
  margin: 0 auto;
  padding-top: 60px;
  padding-inline: 24px;
  overflow: hidden;
  overflow-x: hidden;
}
.slider .site-footer-marquee .site-footer-marquee__track {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  animation: footer-marquee-mobile-wiggle 1.8s alternate-reverse infinite ease-in-out;
  margin: 0;
  padding: 0;
  border: 0;
  background: transparent;
  font-size: 100%;
  vertical-align: baseline;
  animation: slide 90s linear infinite;
  display: flex;
}
@keyframes slide {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}
.slider .site-footer-marquee .site-footer-marquee__track .site-footer-marquee__grid {
  display: grid;
  grid-auto-columns: -webkit-min-content;
  grid-auto-columns: min-content;
  grid-auto-flow: column;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  display: flex;
  -webkit-transform: translateX(var(--grid-x-offset, 0));
  -ms-transform: translateX(var(--grid-x-offset, 0));
  transform: translateX(var(--grid-x-offset, 0));
  -webkit-transition: -webkit-transform 0.6s ease-out;
  transition: -webkit-transform 0.6s ease-out;
  transition: transform 0.6s ease-out;
  transition: transform 0.6s ease-out, -webkit-transform 0.6s ease-out;
  gap: var(--grid-gap);
}
.slider .site-footer-marquee .site-footer-marquee__track .site-footer a,
.slider .site-footer-marquee .site-footer-marquee__track .site-footer a:visited,
.slider .site-footer-marquee .site-footer-marquee__track .site-footer a:active {
  color: inherit;
  text-decoration: none;
}
.slider .site-footer-marquee .site-footer-marquee__track .site-footer-marquee-item {
  --item-media-width: 200px;
  --item-media-height: 150px;
  position: relative;
  -webkit-transform: perspective(300px) translate3d(0, 0, 0);
  transform: perspective(300px) translate3d(0, 0, 0);
  color: #fff;
}
.slider .site-footer-marquee .site-footer-marquee__track .site-footer-marquee-item .site-footer-marquee-item__stack {
  position: absolute;
  top: 0;
  right: 0;
  width: var(--item-media-width);
  height: var(--item-media-height);
}
.slider .site-footer-marquee .site-footer-marquee__track .site-footer-marquee-item .site-footer-marquee-item__media {
  display: -ms-flexbox;
  display: flex;
  position: relative;
  z-index: 1;
  width: var(--item-media-width);
  height: var(--item-media-height);
  overflow: hidden;
  border: 2px solid #fff;
  border-radius: 8px;
  background-color: #9e9ea7;
}
.slider .site-footer-marquee .site-footer-marquee__track .site-footer-marquee-item .site-footer-marquee-item__title {
  margin-top: 12px;
  color: #0d0c22;
  font-size: 14px;
  font-weight: 500;
}

/*# sourceMappingURL=index-style.css.map */
