@mixin signUpLoginButton {
  background-image: linear-gradient(to left, #058022, #044d15);
  color: white;
  border-radius: 25px;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
}

@mixin box-style {
  background-color: #111111;
  padding: 5px 20px;
  border-radius: 15px;
  margin-bottom: 20px;
}

main {
  .firstSection {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    // height: 100vh;

    .right-side {
      width: 60%;

      p {
        font-size: clamp(50px, 3vw, 140px);
        color: #087820;
        font-weight: bold;
        // margin-block-start: 0;
      }
    }

    .left-side {
      width: 40%;

      p {
        color: #6e6d6d;
        font-size: clamp(15px, 2vw, 20px);
        text-align: justify;

        span {
          color: #087820;
        }
      }

      .buttons {
        display: flex;
        width: 100%;
        justify-content: flex-start;
        gap: 5%;

        a {
          &:first-of-type {
            @include signUpLoginButton;
            width: 25%;
          }

          &:last-of-type {
            @include signUpLoginButton;
            background-image: none;
            background-color: #242424;
            color: #9f9f9f;
            width: 25%;
          }
        }
      }
    }
  }

  .secondSection {
    display: flex;
    justify-content: center;
    margin-top: 10%;
    .allBoxes {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      // gap: 3%;
      color: white;
      // width: 90%;
      p {
        &:first-of-type {
          font-size: clamp(15px, 2vw, 30px);
          border-bottom: 1px solid rgb(35, 35, 35);
          text-align: center;
        }

        &:nth-child(2) {
          color: #a8a6a6;
        }
      }
      .bigger {
        width: 60%;
        box-sizing: border-box;
        @include box-style;
        &:first-of-type {
          margin-left: 10px;
        }
      }

      .smaller {
        width: 25%;
        box-sizing: content-box;
        @include box-style;
        margin-left: 10px;
      }
    }
  }

  .thirdSection {
    margin-top: 10%;

    p {
      color: #a8a6a6;
      text-align: center;
      font-size: clamp(20px, 3vw, 40px);
      font-weight: bold;
      span {
        color: #058022;
      }
    }
  }

  .fourthSection {
    .all {
      width: 100%;
      .cards {
        color: #a8a6a6;
        display: flex;
        flex-wrap: wrap;
        .card {
          width: 40%;
        }
      }
    }
  }
  .slider {
    width: 100%;
    overflow: hidden;
    .slider-wrapper {
      display: flex;
      animation: slide 10s linear infinite;
      img {
        width: 300px;
        height: auto;
      }
    }
  }
  @keyframes slide {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-100%); /* حرکت به سمت چپ */
    }
  }

  div {
    #clock {
      margin: 20px auto;
      padding: 0;
      background: #333;
      width: 100%;
      height: 100px;
      text-align: center;
      line-height: 40px;
      color: #fff;
      font-size: 34px;
      font-family: calibri;
    }
  }
}
